<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Austin Maxheimer | Portfolio</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>menuBtn}}
    {{>testMenu}}
    {{>overlay}}
    {{>loader}}
    {{>articleLoader}}
    {{>nav}}
    <section id="projects">
        <h1 class="bouncing-header">
            <span>P</span>
            <span>o</span>
            <span>r</span>
            <span>t</span>
            <span>f</span>
            <span>o</span>
            <span>l</span>
            <span>i</span>
            <span>o</span>
        </h1>
        <p id="long-description">
            Enjoy the list of projects I have created. Currently, the tools I use the most to deploy deploy sites are HTML, CSS, Javascript, Express, Handlebars, and Sass. I am currently working on adding new React apps to my portfolio, as I continue to expand my knowledge on the library.
        </p>
        <div class="sort-buttons">
            <button class="sort-btn" id="react">react</button>
            <button class="sort-btn" id="javascript">javascript</button>
            <button class="sort-btn" id="all">all</button>
        </div>
        
    </section>
    {{>projectCard}}
    {{>startup}}
    {{>footer}}
   <script type="module" src="js/portfolio.js"></script>  
</body>
</html>