<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Austin | Portfolio</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>menuBtn}}
    {{>hamburgerMenu}}
    {{>overlay}}
    {{>loader}}
    {{>nav}}
    <section id="projects">
        <h1 class="bouncing-header">
            <span>P</span>
            <span>o</span>
            <span>r</span>
            <span>t</span>
            <span>f</span>
            <span>o</span>
            <span>l</span>
            <span>i</span>
            <span>o</span>
        </h1>
        <p id="long-description">
            Enjoy the list of projects I have created. Currently, the tools I use the most to deploy deploy sites are HTML, CSS, Javascript, Express, Handlebars, and Sass. I am currently working on adding new React apps to my portfolio, as I continue to expand my knowledge on the library.
        </p>
    </section>
    {{>projectCard}}
    {{>startup}}
   <script type="module" src="js/side-route.js"></script>  
</body>
</html>