<div class="card__container">
    {{#each articleArray}}
    <div class="card__container-item">
        <div class="card__content">
            <h2 class="colored-header">{{head}}</h2>
            <h1>{{title}}</h1>
            <p>{{description}}</p>
            <a class="anchor-site" href={{URL}}>View</a>
        </div>
    </div>
    {{/each}}
</div>