<div class="menu__container hidden-menu">
    <div class="menu__anchors">
        <a href="/about" class="doink hideBtn">About</a>
        <hr id="hamburger-line">
        <a href="/portfolio" class="doink hideBtn">Portfolio</a>
        <hr id="hamburger-line">
        <a href="/articles" class="doink hideBtn">Articles</a>
        <hr id="hamburger-line">  
        <a href="/contact" class="doink hideBtn">Contact</a>
    </div>
</div>