<div class="menu__container hidden-menu">
    <div class="menu__anchors">
        <div class="menu__anchors-bin">
            <a href="" class="doink hideBtn">About</a>
            <p class="hide-anchor one">Learn a little about me</p>
        </div>
            
        <div class="menu__anchors-bin">
            <a href="" class="doink hideBtn">Portfolio</a>
            <p class="hide-anchor two">View some of my past projects</p>
        </div>
            
        <div class="menu__anchors-bin">
            <a href="" class="doink hideBtn">Articles</a>
            <p class="hide-anchor three">See interesting development articles</p>
        </div>
            
        <div class="menu__anchors-bin">
            <a href="" class="doink hideBtn">Contact</a>
            <p class="hide-anchor four">Reach out and contact me about new opportunities</p>
        </div>
    </div>
</div>