<nav class="nav">
    <ul class="nav__container">
        <a href="/" class="link-tag">
            <svg class="home__icon">
                <use xlink:href="/img/sprite.svg#icon-home"></use>
            </svg> 
        </a>
        <div class="nav__container-sub">
            <li class="nav__container-item">
                <a href="/about" class="link-tag nav__container-item-link">About</a>
            </li>
            <hr>
            <li class="nav__container-item">
                <a href="/portfolio" class="link-tag nav__container-item-link">Portfolio</a>
            </li>
            <hr>
            <li class="nav__container-item">
                <a href="/articles" class="link-tag nav__container-item-link">Articles</a>
            </li>
            <hr>
            <li class="nav__container-item">
                <a href="/contact" class="link-tag nav__container-item-link">Contact</a>
            </li>
        </div>  
    </ul>
</nav>