<div class="option__container">
    <div class="option__container-item in-left" data-id="data-float">
        <div class="option__content">
            <h1>Course Projects</h1>
            <br>
            <br>
            <p>
                Here you will see the projects I created in the courses I completed. You will see projects I created using JavaScript,
                Node.js, and React. I have included the links to the deployed sites, the github code, as well as to documentation
                on what I learned for each project. I hope you enjoy!
                <br>
                <br>
                <br>
            </p>
        </div>
    </div>
    <div class="option__container-item in-right" data-id="data-float">
        <div class="option__content">
            <h1>Personal Projects</h1>
            <br>
            <br>
            <p>
                My portfolio also displays projects that I have created in my free time. I am always thinking of new ideas
                and enjoy expanding my coding skills by creating and deploying personal apps. I find the best way to learn code is 
                by creating personal projects. I have included links to the websites so you can view them.
                <br>
                <br>
                <br>
            </p>
        </div>
    </div>  
</div>