<div class="project__card">
    <div class="project__card-item">
        <div class="color-overlay"></div>
        <div class="icon__container">
            <a href="https://github.com/atrain42/amax-forkify">
                <svg class="home__icon">
                    <use xlink:href="/img/sprite.svg#icon-github"></use>
                </svg> 
            </a>
        </div>
        <div class="project__content">
            <h2 class="bold-text">Forkify App</h2>
            <p>This site allows you to search food key words and it displays a list of results. You can bookmark recipes and save them to the local storage, and even add your own recipe. The site fetches recipes from an API behind the scenes.</p>
            <a class="anchor-site" href="https://austin-max-forkify.netlify.app/">Visit site</a>
            <h4 id="alert">*This site is only compatible with computers*</h4>
        </div>
    </div>
    <div class="project__card-item">
        <div class="color-overlay-2"></div>
        <div class="icon__container">
            <a href="https://github.com/atrain42">
                <svg class="home__icon">
                    <use xlink:href="/img/sprite.svg#icon-github"></use>
                </svg> 
            </a>
        </div>
        <div class="project__content">
            <h2 class="bold-text">Mapty App</h2>
            <p>This site allows you to track different types of workouts you have done in your city. Simply just click somewhere on the map, and then add the correct workout information. This uses the Geolocation API to find your location.</p>
            <a class="anchor-site" href="https://javascriptcourse-mapty.netlify.app/">Visit site</a>
            <h4 id="alert">*This site is only compatible with computers*</h4>
        </div>
    </div>
    <div class="project__card-item">
        <div class="color-overlay-3"></div>
        <div class="icon__container">
            <a href="https://github.com/atrain42/react-food-order">
                <svg class="home__icon">
                    <use xlink:href="/img/sprite.svg#icon-github"></use>
                </svg> 
            </a>
        </div>
        <div class="project__content">
            <h2 class="bold-text">Food Order App</h2>
            <p>An app that is a template for a restuarant's website. You can add and remove different menu items to the shopping cart. The app fetches the menu items from a firebase database. This app was created using React.</p>
            <a class="anchor-site" href="https://react-food-order-amax.netlify.app/">Visit site</a>
        </div>
    </div>
    <div class="project__card-item">
        <div class="color-overlay-4"></div>
        <div class="icon__container">
            <a href="https://github.com/atrain42/task-manager-api">
                <svg class="home__icon">
                    <use xlink:href="/img/sprite.svg#icon-github"></use>
                </svg> 
            </a>
        </div>
        <div class="project__content">
            <h2 class="bold-text">Task Manager API</h2>
            <p>I created this project in a Node.js course to get a better understanding of how the backend works. I think understanding backend technology allows me to write better frontend code.</p>
        </div>
    </div>
    <div class="project__card-item">
        <div class="color-overlay-5"></div>
        <div class="icon__container">
            <a href="https://github.com/atrain42/websume.net">
                <svg class="home__icon">
                    <use xlink:href="/img/sprite.svg#icon-github"></use>
                </svg> 
            </a>
        </div>
        <div class="project__content">
            <h2 class="bold-text">Websume.org</h2>
            <p>A site I created in order to help people stand out in the workforce. I offer to turn your websume into your own personal website; in an effort to part ways with the outdated word document</p>
            <a class="anchor-site" href="http://websume.org/">Visit site</a>
        </div>
    </div>
    <div class="project__card-item">
        <div class="color-overlay-6"></div>
        <div class="icon__container">
            <a href="https://github.com/atrain42/react-expense">
                <svg class="home__icon">
                    <use xlink:href="/img/sprite.svg#icon-github"></use>
                </svg> 
            </a>
        </div>
        <div class="project__content">
            <h2 class="bold-text">Expense App</h2>
            <p>This is a very basic application that allows you to add different expenses and sort them by the year they were purchased. This app was created using React.</p>
            <a class="anchor-site" href="https://expenses-react-austin.netlify.app/">Visit site</a>
        </div>
    </div>
</div>