<section class="robotics">
    <div class="robotics-overlay"></div>
    <h1 class="bouncing-header">
        Experience
    </h1>
    <p id="fullwidth-description">
        Before my interest in web development, I was programming FANUC robots as my full time job. I worked in the Paint Process department
        and programmed FANUC paint robots to paint cars. I was exposed to many different robotics systems, each system
        with its own set of challenges. The most challenging system I worked with was one site in the GM plant located in Spring Hill, Tennessee.
        This was a system that consisted of 12 robots all together; this included 8 painter robots moving along a 50 foot rail, and 4 
        door opening robots that moved along a 30 foot rail. These robots were setup on a RIPE network with a common IP address, that allows the robots
        to communicate with one another as they move throughout the system.
    </p>
    <div class="robotics-content">
        <img src="/img/robotics.png" alt="robotics">
        <div class="robotics-content__text">
            <h2>Important takeaways from the job:</h2>
            <button class="viewBtn">view</button>
            <ul>
                <li class="list-hide">&#8226; The process of debugging</li>
                <li class="list-hide">&#8226; Solving complex problems with a team</li>
                <li class="list-hide">&#8226; Communicating with customers</li>
                <li class="list-hide">&#8226; Introduction to code</li>
                <li class="list-hide">&#8226; Importance of small details</li>
            </ul>
        </div>
    </div>
</section>