<div class="container">
    <div class="container__skills">
        <span>CSS</span>
        <div class="container__percent">
            <div class="container__percent-progress" data-id="percentage-status" style="width: 90%"></div>
        </div>
    </div>
    <div class="container__skills">
        <span>HTML</span>
        <div class="container__percent">
            <div class="container__percent-progress" data-id="percentage-status" style="width: 85%"></div>
        </div>
    </div>
    <div class="container__skills">
        <span>JavaScript</span>
        <div class="container__percent">
            <div class="container__percent-progress" data-id="percentage-status" style="width: 80%"></div>
        </div>
    </div>
        <div class="container__skills">
        <span>React</span>
        <div class="container__percent">
            <div class="container__percent-progress" data-id="percentage-status" style="width: 60%"></div>
        </div>
    </div>
    <div class="container__skills">
        <span>Node.js</span>
        <div class="container__percent">
            <div class="container__percent-progress" data-id="percentage-status" style="width: 20%"></div>
        </div>
    </div>
</div>