<div class="startup">
    <h1>About Pixel Invite</h1>
    <p>
        I created websume.org in order to bring excitement to building resumes. 
        For as long as I can remember, all resumes have been written on a boring 
        microsoft word document. At websume.org, we turn your resume into your very 
        own personalized website. Instead of sharing a word document with employers and recruiters, 
        just send them a link to your online websume.
    </p>
    <div class="startup__content">
        <img src="./img/bear.jpg" alt="promo">
        <div class="startup__content-text">
            <h2>A new way to send invites</h2>
            <h3>Baby Shower</h3>
            <p>
                As a token of gratitude for visiting my portfolio,
                I would like to offer you a 10% discount on your purchase at pixelinvite.com. 
                Just visit the site and enter the promo code in 
                the contact form to recieve the discount; let's ditch traditional invites together!
            </p>
            <a class="anchor-site" href="https://www.pixelinvite.com/">Go to site</a>
        </div>
    </div>
</div>