<div class="startup">
    <h1>About websume.org</h1>
    <p>
        I created websume.org in order to bring excitement to building resumes. 
        For as long as I can remember, all resumes have been written on a boring 
        microsoft word document. At websume.org, we turn your resume into your very 
        own personalized website. Instead of sharing a word document with employers and recruiters, 
        just send them a link to your online websume.
    </p>
    <div class="startup__content">
        <img src="./img/promo.png" alt="promo">
        <div class="startup__content-text">
            <h2>Ditch the paper resume</h2>
            <h3>Shine online</h3>
            <p>
                As a token of gratitude for visiting my portfolio,
                I would like to offer you a 10% discount on your first
                websume. Just visit the site and enter the promo code in 
                the contact form to recieve the discount; let's ditch the
                word document resume together!
            </p>
            <a class="anchor-site" href="http://www.websume.org/">Go to site</a>
        </div>
    </div>
</div>