<section class="hide-menu hamburger-menu">
    <p id="title">Austin's Portfolio</p>
    <div class="hamburger-overlay"></div>
    <div class="anchor-bin">
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/portfolio">portfolio</a>
        <a href="/articles">resources</a>
    </div>
    <div class="hamburger-info">
        <div class="hamburger-info__content">
            <h1>Contact info:</h1>
            <p>Email: maxheimer4211@gmail.com</p>
            <p>Or go to: <a href="/contact">contact form</a></p>  
        </div>
        <div class="blank-space"></div>
    </div>
</section>