#contact {
    position: relative;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    width: 50rem;
    color: $off-white;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

    & button {
        width: 20rem;
        margin: 2rem auto;
        border: none;
        cursor: pointer;
        padding: 1rem 1rem;
        background-color: rgb(148, 201, 223);
        transition: all 0.5s;
        display: flex;
        justify-content: center;

        &:hover {
            border-radius: 20px;
        }
    }
}

textarea {
    width: 50rem;
    resize: none;
    text-indent: 10px;
    background-color: rgb(81, 81, 81);
    border: none;
}

::placeholder {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: $off-white;
}

.input__container {
    display: flex;
    justify-content: space-between;
    width: 50rem;
    margin-bottom: 2rem;

    & input {
        width: 24rem;
        height: 4rem;
        text-indent: 10px;
        background-color: rgb(81, 81, 81);
        border: none;
        transition: all 1s;
        color: $off-white;

        &:focus {
            transform: translateY(-2px);
            border: 1px solid $blue-light;
        }
    }
}

.contact__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button__container {
    width: 35vw;
    display: flex;
    justify-content: center;
}


#contact-photo {
    height: 60rem;
    width: auto;
}

@media (max-width: 1250px) {
    #contact {
        justify-content: space-between;
    }

    textarea {
        width: 35vw;
    }

    .input__container {
        width: 35vw;

        & input {
            width: 17vw;
        }
    }

    .contact-text {
        width: 35vw;
    }

}

@media (max-width: 1150px) {
    #contact-photo {
        height: 55rem;
        width: auto;
    }

    textarea {
        width: 35vw;
    }

    .input__container {
        width: 35vw;

        & input {
            width: 17vw;
        }
    }

    .contact-text {
        width: 35vw;
    }

}

@media (max-width: 950px) {
    #contact-photo {
        height: 50rem;
        width: auto;
    }
 
}

@media (max-width: 900px) {
    #contact-photo {
        display: none;
    }

    #contact {
        flex-direction: column;
    }

    textarea {
        width: 75vw;
    }

    .input__container {
        width: 75vw;

        & input {
            width: 35vw;
        }
    }

    .contact-text {
        width: 75vw;
    }

    .button__container {
        margin: 0 auto;
    }


}

@media (max-width: 550px) {
    textarea {
        width: 87vw;
    }

    .input__container {
        width: 87vw;

        & input {
            width: 42vw;
        }
    }

    .contact-text {
        width: 87vw;
    }

    .form button {
        width: 15rem;
    }

}