@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Baskervville&family=Montserrat:wght@200;300;400;500;600&family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  word-wrap: break-word;

  font-weight: 600;
  background-color: #333;
  position: relative;
}

.nav {
  background-color: rgb(81, 81, 81);
  width: 13rem;
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
}

/* .nav.sticky {
  position: fixed;
  background-color: #eee;
  z-index: 200;
} */

.nav__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.link {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #eee;
  font-size: 1.8rem;
  transition: all 0.75s;
  flex-grow: 1;
}

.link:hover {
  color: var(--color-primary-dark);
  padding: 1rem 0;

  cursor: pointer;
}

.nav__item {
  list-style-type: none;
  padding: 2rem 0;
}

.header {
  padding-top: 15rem;
  padding-bottom: 15rem;
  padding-left: 20rem;
  /* padding: 15rem 20rem;  */
  display: flex;
  align-items: center;
  position: relative;
}

p {
  margin: 0 0 10px;
}

ul {
  list-style: none;
}
.container {
  width: 100%;
  margin: auto;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding: 0 0 200px;
}

/* First line of text */
.animate {
  font-size: 65px;
  margin: 100px 0 0;
}
.animate span {
  display: inline-block;
}
.animate span:nth-of-type(2) {
  animation-delay: 0.3s;
}
.animate span:nth-of-type(3) {
  animation-delay: 0.4s;
}
.animate span:nth-of-type(4) {
  animation-delay: 0.2s;
}
.one span {
  color: #eee;
  opacity: 0;
  transform: translate(200px, -100px) scale(2);
  animation: pop 0.7s forwards;
}

/* Second line of text */
.animateNext {
  font-size: 65px;
  margin: 5px 0 0;
}

.animateNext span {
  display: inline-block;
}

.animateNext span:nth-of-type(2) {
  animation-delay: 1.5s;
}
.animateNext span:nth-of-type(3) {
  animation-delay: 1.6s;
}
.animateNext span:nth-of-type(4) {
  animation-delay: 1.7s;
}
.animateNext span:nth-of-type(5) {
  animation-delay: 1.8s;
}
.animateNext span:nth-of-type(6) {
  animation-delay: 1.9s;
}
.animateNext span:nth-of-type(7) {
  animation-delay: 2s;
}
.animateNext span:nth-of-type(8) {
  animation-delay: 2.1s;
}
.animateNext span:nth-of-type(9) {
  animation-delay: 2.2s;
}
.animateNext span:nth-of-type(10) {
  animation-delay: 2.3s;
}
.animateNext span:nth-of-type(11) {
  animation-delay: 2.4s;
}
.animateNext span:nth-of-type(12) {
  animation-delay: 2.5s;
}
.two span {
  color: #eee;
  opacity: 0;
  transform: translate(200px, -100px) scale(2);
  animation: pop 1s forwards 0.8s;
}

/* Last line of text */
.animateLast {
  font-size: 65px;
  margin: 5px 0 0;
}
.animateLast span {
  display: inline-block;
}
.animateLast span:nth-of-type(1) {
  animation-delay: 2s;
}
.animateLast span:nth-of-type(2) {
  animation-delay: 2.1s;
}
.animateLast span:nth-of-type(3) {
  animation-delay: 2.2s;
}
.animateLast span:nth-of-type(4) {
  animation-delay: 2.3s;
}
.animateLast span:nth-of-type(5) {
  animation-delay: 2.4s;
}
.animateLast span:nth-of-type(6) {
  animation-delay: 2.5s;
}
.animateLast span:nth-of-type(7) {
  animation-delay: 2.6s;
}
.animateLast span:nth-of-type(8) {
  animation-delay: 2.7s;
}
.animateLast span:nth-of-type(9) {
  animation-delay: 2.8s;
}
.animateLast span:nth-of-type(10) {
  animation-delay: 2.9s;
}
.animateLast span:nth-of-type(11) {
  animation-delay: 3s;
}
.animateLast span:nth-of-type(12) {
  animation-delay: 3.1s;
}
.animateLast span:nth-of-type(13) {
  animation-delay: 3.2s;
}
.animateLast span:nth-of-type(14) {
  animation-delay: 3.3s;
}
.animateLast span:nth-of-type(14) {
  animation-delay: 3.4s;
}
.three span {
  color: #eee;
  opacity: 0;
  transform: translate(200px, -100px) scale(2);
  animation: pop 1s forwards 20s;
}

@keyframes pop {
  60% {
    transform: translate(0, 20px) rotate(-180deg) scale(0.5);
  }

  100% {
    transform: translate(0) rotate(0deg) scale(1);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}

#message {
  color: rgb(210, 210, 210);
  letter-spacing: 3px;
  margin-top: 3rem;
}

#message span {
  color: rgb(0, 213, 255);
}

hr {
  height: 0.5px;
  width: 100%;
  border: none;
  background-color: rgb(0, 213, 255);
  z-index: 100;
}

img {
  width: 48rem;
  height: auto;
  margin-left: 10rem;
  animation: fade 6s;
}

/* scroll label in bottom right of header */
.scroll {
  position: absolute;
  bottom: -5%;
  right: 2%;
  z-index: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.scroll h2 {
  color: white;
  transform: rotate(90deg);
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  animation: scale 2s infinite;
}

.scroll p {
  color: white;
  font-size: 3rem;
  font-weight: 300;
  margin-top: 10px;
}

/* About section */
.section {
  padding: 20rem 20rem;
  transition: transform 1s, opacity 1s;
}

#about {
  /* padding: 20rem 20rem; */
  padding-top: 20rem;
  /* padding-bottom: 20rem; */
  padding-left: 20rem;
  display: flex;
  justify-content: space-between;
}

#about p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  width: 50rem;
  color: #eee;
}

.section--hidden {
  opacity: 0;
  transform: translateY(12rem);
}

.section p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  width: 50rem;
  color: #eee;
}

#-description {
  width: 85rem;
  margin-bottom: 5rem;
}
/* Portfolio section */

/* bouncing letters */
.bouncing-header {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  user-select: none;
  color: rgb(0, 213, 255);
  animation: appear 4s;
  margin-bottom: 2rem;
}

.bouncing-header span {
  display: inline-block;
  animation: bounce 4s linear infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: rotateX(20deg) translateY(2px) rotate(-3deg);
  }
  50% {
    transform: translateY(-20px) rotate(3deg) scale(1.1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.bouncing-header span:nth-child(1) {
  animation-delay: 0s;
}
.bouncing-header span:nth-child(2) {
  animation-delay: 0.05s;
}
.bouncing-header span:nth-child(3) {
  animation-delay: 0.1s;
}
.bouncing-header span:nth-child(4) {
  animation-delay: 0.15s;
}
.bouncing-header span:nth-child(5) {
  animation-delay: 0.2s;
}
.bouncing-header span:nth-child(6) {
  animation-delay: 0.25s;
}
.bouncing-header span:nth-child(7) {
  animation-delay: 0.3s;
}
.bouncing-header span:nth-child(8) {
  animation-delay: 0.35s;
}
.bouncing-header span:nth-child(9) {
  animation-delay: 0.4s;
}

.bouncing-header span:nth-child(10) {
  animation-delay: 0.45s;
}

.bouncing-header span:nth-child(11) {
  animation-delay: 0.5s;
}
.bouncing-header span:nth-child(12) {
  animation-delay: 0.55s;
}

/* portfolio container */
.option {
  height: 35rem;
  width: 40rem;
  border-radius: 40px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.277);
  padding: 8rem 5rem;
  background-color: #bbb;

  position: relative;
  /* z-index: 2; */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  background-color: #8da2b431;
  clip-path: circle(35% at 70% 30%);
  z-index: 2;
}

.price--title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.5rem;
}

.option__content p {
  color: rgb(30, 30, 30);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.8;
  text-align: left;
  width: 35rem;
  z-index: 3;
  position: relative;
}

.option__content h1 {
  font-family: "Montserrat", sans-serif;
  color: rgb(30, 30, 30);
  font-size: 3rem;
  z-index: 3;
  position: relative;
}

.option__content a {
  text-decoration: none;
  font-size: 1.75rem;
  color: #016ac7;
  z-index: 3;
  position: relative;
}

.underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #016ac7;
  transition: width 1s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
    cursor: pointer;
  }
}

/* skills bars */

.container {
  position: relative;
  width: 500px;
}

.container h2 {
  color: #fff;
}

.container .skills {
  position: relative;
  display: flex;
  margin: 25px 0;
  padding: 20px 10px 14px;
  background: linear-gradient(#616161 0%, #333 10%, #222);
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #000;
  transition: 0.5s;
}

.container .skills:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 10;
}

.container .skills .Name {
  position: relative;
  width: 110px;
  text-align: right;
  color: #fff;
  margin-top: -2px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container .skills .percent {
  position: relative;
  width: calc(100% - 150px);
  height: 20px;
  margin: 0 10px;
  border-radius: 10px;
  background: #151515;
  box-shadow: inset 0 0 10px #000;
  overflow: hidden;
}

.container .skills .percent .progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  border-radius: 10px;

  box-shadow: inset 0 0 2px #000;
  animation: animate 4s ease-in-out forwards;
}

.container .skills:nth-child(1) .percent .progress {
  background: linear-gradient(45deg, #09056a, #1fe6ff);
}

.container .skills:nth-child(2) .percent .progress {
  background: linear-gradient(45deg, #40056a, #4c86b5);
}

.container .skills:nth-child(3) .percent .progress {
  background: linear-gradient(45deg, #024180, #8ebcea);
}

.container .skills:nth-child(4) .percent .progress {
  background: linear-gradient(45deg, #4e0243, #25d9ca);
}
@keyframes animate {
  from {
    width: 0;
  }
}

/* Card */
.card__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 3rem;
  grid-gap: 23px;
}
.card {
  background-color: #333;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.383);
  border-top: 2px solid blue;
  width: 23vw;
  height: 28rem;
}

.card__content {
  padding: 4rem 3rem;
}

.card h2 {
  color: blue;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

.card h1 {
  color: #eee;
  font-weight: 400;
  font-size: 3rem;
  margin: 2rem 0;
}

.card h6 {
  font-size: 1.5rem;
  color: grey;
}
