.menu__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgb(81, 81, 81); 
    padding: 2rem 5rem;
    z-index: 420;
    position: fixed;
    max-width: 100vw;
    min-height: 100vh;
}
.menu-buttons {
    display: flex;
    align-items: center;
    width: 35rem;
    margin-bottom: 5rem;
}

.menu__anchors {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
}
  
.doink {
    text-decoration: none;
    font-size: 7rem;
    font-weight: 500;
    z-index: 2;
    color: $blue-light;
    // animation: appear 2s;
}

.hidden-menu {
    display: none;
    transform: translateX(100%);
    transition: all 1s;
}

.unhide-menu {
    opacity: 1;
    transform: translateX(0);
    transition: all 1s;
}

#hamburger-line {
    height: 0.5px;
    width: 10rem;
    border: none;
    background-color: rgb(227, 227, 227);
    z-index: 100;
    transform: rotate(0deg);
}

@media (max-width: 925px) {
    .hide-anchor {
        display: none;
    }

}

@media (max-width: 600px) {
    .doink {
        font-size: 5rem;
    }
}

@media (max-width: 500px) {
    .menu__anchors {
        height: 60vh;
    }

    .menu__container {
        padding-top: 5rem;
        justify-content: flex-start;
    }

    .doink {
        font-size: 4rem;
    }
}

@media (max-width: 375px) {
    #hamburger-line {
        width: 7.5rem;
    }

    .doink {
        font-size: 3rem;
    }
}