<section id="about" data-id="section-id">
    <div class="about-overlay"></div>
    <div class="about-content">
        <h1 class="bouncing-header">
            <span>A</span>
            <span>b</span>
            <span>o</span>
            <span>u</span>
            <span>t</span>
            <span> </span>
            <span>M</span>
            <span>e</span>
        </h1>
        <p>
            I am a self-taught, frontend developer who is highly motivated 
            and always willing to learn new technologies.
            <br>
            <br>
            I have always been fascinated with technology and enjoy tracking
            new technological ideas. Playing complex video games is what allowed
            me to realize the power of code and sparked my interest in coding. 
            I have always enjoyed artwork and technology, and I discovered that 
            frontend development is the perfect way to combine both.
            <br>
            <br>
            Why I will succeed in frontend development is due to my ability to pay attention to 
            detail and learn very difficult concepts quickly.
        </p>
    </div>
    {{>skills}}
</section>

