<section class="section" id="articles" data-id="section-id">
    <div class="article-overlay"></div>
    <div class="article-overlay-2"></div>
    <h1 class="bouncing-header">
        Resources
    </h1>
    <p id="long-description">
        Check out these articles in the technology and web development industry that I find interesting and useful. These articles
        were written by professionals in the industry and contain valuable information.
    </p>
    {{>articleCard}}
</section>
