<section class="section" id="contact" data-id="section-id">
    <div class="bind__content">
        <h1 class="bouncing-header">
            <span class="letter">C</span>
            <span class="letter">o</span>
            <span class="letter">n</span>
            <span class="letter">t</span>
            <span class="letter">a</span>
            <span class="letter">c</span>
            <span class="letter">t</span>
            <span> </span>
            <span class="letter">m</span>
            <span class="letter">e</span>
        </h1>
        <p class="contact-text"> 
            Feel free to reach out to me about anything - I am always open to freelance work and 
            enjoy hearing new innovative ideas.
        </p>
        <div class="contact__content">
            <form class="form" action="https://formsubmit.co/maxheimer4211@gmail.com" method="POST">
                <span class="input__container">
                    <input type="text" name="first name" id="" placeholder="First name">
                    <input type="text" name="last name" id="" placeholder="Last name">
                </span>
                <input type="hidden" name="_next" value="http://wwww.austinmaxheimer.com/thanks">

                <span class="input__container">
                    <input type="email" name="email" id="" placeholder="Email">
                    <input type="text" name="subject" id="" placeholder="Subject">
                </span>

                <textarea name="" cols="5" rows="15" id="text-input" placeholder="Message"></textarea>
                <div class="button__container">
                    <button>Submit</button>
                </div>
            </form>
        </div>
    </div>
    <img src="./img/arizona.jpg" id="contact-photo" alt="image of me!">

</section>


