<footer class="footer">
    <div class="social__container">
        <a href="https://www.linkedin.com/in/austin-maxheimer-2ba1341b1/" class="link-tag">
            <svg class="anchor-site social-icon">
                <use xlink:href="/img/sprite2.svg#icon-linkedin"></use>
            </svg> 
        </a>
        <a href="/" class="link-tag">
            <svg class="anchor-site social-icon">
                <use xlink:href="/img/sprite2.svg#icon-file-text2"></use>
            </svg> 
        </a>
        <a href="https://github.com/atrain42" class="anchor-site link-tag">
            <svg class="social-icon">
                <use xlink:href="/img/sprite2.svg#icon-github"></use>
            </svg> 
        </a>
    </div>
    <div class="footer__container">
        <h2>Thanks for visiting</h2>
        <p>Please contact me regarding new ideas and freelance opportunities</p>
        <a id="contact-btn" href="/contact">Contact</a>
    </div>
</footer>