<footer class="footer">
    <div class="footer__container">
        <div class="footer__heading">
            <h2>Thank you for visiting my portfolio!</h2>
            <h3>As a gift, use the promo code "Innovate2022" on websume.org for 20% off</h3>
        </div>
    </div>
    <a href="http://websume.org/">Go to site</a>
</footer>