<header class="header">
    <div class="scroll">
        <h2>Scroll</h2>
        <p>	&#8595;</p>
    </div>
    <div class="text">
        <div class="animate one">
            <span>H</span>
            <span>i</span>
            <span>,</span>
        </div>
            
        <div class="animateNext two">
            <span>I</span>
            <span>'</span>
            <span>m</span>
            <span>&nbsp;</span>
            <span>A</span>
            <span>u</span>
            <span>s</span>
            <span>t</span>
            <span>i</span>
            <span>n</span>
            <span>,</span>
        </div>
            
        <div class="animateLast three">
            <span>w</span>
            <span>e</span>
            <span>b</span>
            <span>&nbsp;</span>
            <span>d</span>
            <span>e</span>
            <span>v</span>
            <span>e</span>
            <span>l</span>
            <span>o</span>
            <span>p</span>
            <span>e</span>
            <span>r</span>
        </div>
        <p class="message">CSS <span>|</span> JavaScript <span>|</span> React </p>
    </div>
    <img id="header-image" src="./img/bro.png" alt="Coding image">
</header>