<section class="section" id="portfolio" data-id="section-id">
    <div class="section-overlay"></div>
    <div class="portfolio-heading">
        <h1 class="bouncing-header">
            <span class="letter">M</span>
            <span class="letter">y</span>
            <span> </span>
            <span class="letter">P</span>
            <span class="letter">o</span>
            <span class="letter">r</span>
            <span class="letter">t</span>
            <span class="letter">f</span>
            <span class="letter">o</span>
            <span class="letter">l</span>
            <span class="letter">i</span>
            <span class="letter">o</span>
        </h1>
        <a href="/portfolio" class="btn-flip" data-back="Enter" data-front="Portfolio"></a>
    </div>
    <p id="long-description">
        Enjoy the following projects I have worked on in the past. The following are projects I have completed
        in Udemy courses I have taken in the past. These courses cover the following technologies: JavaScript,
        Node.js, and React. I also included some projects I have created in the past for fun.
    </p>
    {{>portfoliooptions}} 
</section>

