/* bouncing headers */
.bouncing-header {
    font-size: 50px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    user-select: none;
    color: $color-primary;
    animation: appear 4s;
    margin-bottom: 2rem;
}

@media (max-width: 850px) {
    .bouncing-header {
        font-size: 40px;
    }
}

@media (max-width: 550px) {
    .bouncing-header {
        font-size: 32.5px;
    }
}

@media (max-width: 350px) {
    .bouncing-header {
        font-size: 25px;
    }
}